<div class="col-lg-12">
<h1 class="page-header animated fadeIn">Dashboard</h1>
</div>


<div class= "row ">

	<%=link_to "Requests", hr_pending_leaves_path, class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

	<%=link_to "History", leaves_path, class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

	<%=link_to "Statistics", hr_statistics_path, class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

	<%=link_to "Add Employee", new_user_path, class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

	<%=link_to "Employees", users_path, class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

	<%=link_to "Calendar", "#", class: 'dashboard-button btn btn-default col-sm-6 col-md-2'%>

</div>

<div class= "row">
<div class="col-sm-12 col-md-5">



<div class="hrCalendar col-sm-12 col-md-12" style="margin: 25px 0px 0px 0px;padding-top: 70px;">
	<div>
	<%=render "leaves/hrCalendar" %>
	</div>
</div>




</div>


<div class="col-sm-12 col-md-7">
<div class= "col-sm-12 col-md-12">
	
	<div class="request col-sm-12 col-md-12">
	<div class="col-lg-12">
	<h3 class="page-header animated fadeIn"><%=link_to "Requests (showing 5 of all requests)", "/hr/pending_leaves"%></h3>
	</div>
	<%@leaves = Leafe.where.not(status: "Approved").where("start_date >= ?",Date.today).order("start_date").limit(5).includes(:user)%>
	<%=render "leaves/leaves_table", :object => @leaves%>
		
	</div>

	<div class="col-sm-12 col-md-12">
	<div class="col-lg-12">
	<h3 class="page-header animated fadeIn"><%=link_to 'Upcoming (showing 5 of all upcoming leaves)', "/hr/upcoming_leaves"%></h3>
	</div>
	<%@leaves = Leafe.where(status: "Approved").where("start_date >= ?",Date.today).order("start_date").limit(5).includes(:user)%>
	<%=render "leaves/leaves_table", :object => @leaves%>
		
	</div>


</div>
</div>
</div>







