<div class="form-group">
  <%= f.label :annual%>
  <%= f.number_field :annual, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :maternity%>
  <%= f.number_field :maternity, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :emergency%>
  <%= f.number_field :emergency, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :study%>
  <%= f.number_field :study, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :sick%>
  <%= f.number_field :sick, class: "form-control"%>
</div>