
<div class="col-lg-12">
 <% if @user.avatar? %>
    <%= image_tag current_user.avatar.url(:profile), :class => "img-responsive img-circle" %>
 <% else %> 
   <%= image_tag current_user.avatar.url, :class => "img-responsive img-circle" %>
 <%end%>
  
  
  <h1 class="page-header">Welcome <%= @user.name %></h1>
</div>



<table class="table table-user">
  <tbody class="table table-user">
    <tr>
    <th class="thead-user">Name:</th>
    <td class="text-user"><%=@user.name%></td>

    </tr>
    <tr>
    <th class="thead-user">Position: </th>
    <td class="text-user"><%=@user.position%> </td>

    </tr>
    <tr>
    <th class="thead-user">Department: </th>
    <td class="text-user"><%=@user.department%></td>

    </tr>
    <tr>
    <th class="thead-user">E-mail: </th>
    <td class="text-user"><%=@user.email%></td>

    </tr>
    <tr>
    <th class="thead-user">Phone no: </th>
    <td class="text-user"><%=@user.phone_no%></td>

    </tr>
    <tr>
    <th class="thead-user">Address: </th>
    <td class="text-user"><%=@user.address%></td>

    </tr>
    
  </tbody>
</table>

