<div class="col-sm-12 col-md-8">
<div class="col-lg-12">
<h1 class="page-header animated fadeIn">Dashboard</h1>
</div>
<p>This is a summary of your leaves. When you request for leave, your HR is notified. When they respond, LineUP will notify you.</p>
  <div class="col-lg-12">
    <h3 class="page-header animated fadeIn">Upcoming</h3>
  
  <%@leaves = @user.leaves.where(status: "Approved").where("start_date >= ?", Date.today).order("start_date")%>
  <%=render "leaves_table"%>
  </div>

  <div class="col-lg-12">
    <h3 class="page-header animated fadeIn">Requests</h3>
  <%@leaves = @user.leaves.where.not(status: "Approved").where("start_date >= ?", Date.today).order("start_date")%>
  <%=render "leaves_table"%>
  </div>

  <div class="col-lg-12">
    <h3 class="page-header animated fadeIn">History</h3>
  
  <%@leaves = @user.leaves.where("start_date < ?", Date.today).order("start_date DESC").limit(10)%>
  <%=render "leaves_table"%>
  </div>

</div>

<div class="col-sm-12 col-md-4">
  <div class="col-lg-12">
  <figure class="snip1515 animated fadeIn">
  <div class="profile-image">
  <% if @user.avatar? %>
     <%= image_tag @user.avatar.url(:profile), :class => "img-responsive img-circle" %>
  <% else %> 
    <%= image_tag @user.avatar.url, :class => "img-responsive img-circle" %>
  <%end%>
  </div>
  <figcaption>
    <h3><%=@user.name%></h3>
    <h4><%=@user.position%></h4>
    <h5><%=@user.department%></h5>
    <%=link_to "Request Leave",new_leafe_path, class: "btn btn-default"%>
    <%=link_to "Edit Profile", edit_user_path(@user),class: "btn btn-default"%>
    <%=link_to "Change Password",'/passwords/change', class: "btn btn-default"%><br><br>
     <table class="table table-user">
    <tbody class="table table-user">
      <tr>
      <th class="thead-user">Name:</th>
      <td class="text-user"><%=@user.name%></td>

      </tr>
      <tr>
      <th class="thead-user">Position: </th>
      <td class="text-user"><%=@user.position%> </td>

      </tr>
      <tr>
      <th class="thead-user">Department: </th>
      <td class="text-user"><%=@user.department%></td>

      </tr>
      <tr>
      <th class="thead-user">E-mail: </th>
      <td class="text-user"><%=@user.email%></td>

      </tr>
      <tr>
      <th class="thead-user">Phone no: </th>
      <td class="text-user"><%=@user.phone_no%></td>

      </tr>
      <tr>
      <th class="thead-user">Address: </th>
      <td class="text-user"><%=@user.address%></td>

      </tr>
      
    </tbody>
  </table>

  </figcaption>
</figure>
  </div>
  <div class="col-lg-12">
    <h3 class="page-header animated fadeIn">Remaining Leaves</h3>
  </div>

  <div class="col-lg-12" style="border:1px solid #eee">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Total</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody>
      <%@user.total_leafe.attributes.each do |key,value|%>
      <%next if key == "id" || key == "user_id"%>
        <tr>
          <td><%=key.capitalize%></td>
          <td><%=value%></td>
          <td><%=@user.remaining_leafe.send(key)%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>


</div>

