
<figure class="snip1515">
  <div class="profile-image">
  <% if current_user.avatar? %>
     <%= image_tag current_user.avatar.url(:profile), :class => "img-responsive img-circle" %>
  <% else %> 
    <%= image_tag current_user.avatar.url, :class => "img-responsive img-circle" %>
  <%end%>
  </div>
  <figcaption>
    <h3><%=@user.name%></h3>
    <h4><%=@user.position%></h4>
    <h5><%=@user.department%></h5>
    <p><%=link_to "Edit", edit_user_path(@user),class: "btn btn-default"%><br><br></p>
     <table class="table table-user">
    <tbody class="table table-user">
      <tr>
      <th class="thead-user">Name:</th>
      <td class="text-user"><%=@user.name%></td>

      </tr>
      <tr>
      <th class="thead-user">Position: </th>
      <td class="text-user"><%=@user.position%> </td>

      </tr>
      <tr>
      <th class="thead-user">Department: </th>
      <td class="text-user"><%=@user.department%></td>

      </tr>
      <tr>
      <th class="thead-user">E-mail: </th>
      <td class="text-user"><%=@user.email%></td>

      </tr>
      <tr>
      <th class="thead-user">Phone no: </th>
      <td class="text-user"><%=@user.phone_no%></td>

      </tr>
      <tr>
      <th class="thead-user">Address: </th>
      <td class="text-user"><%=@user.address%></td>

      </tr>
      
    </tbody>
  </table>

  </figcaption>
</figure>


 