	<div class="form-group">
	<%=form.label :leave_type%>
	<%=form.select :leave_type,options_for_select(Leafe.leave_types.keys),{:prompt => "Select type"}, {required: 'true', class: 'form-control'}%>
	</div>

	<div class="form-group">
	<%=form.label :reason%>
	<%=form.text_area :leave_reason, required: true,rows: "10", class: "form-control"%>
	</div>

	<div class="form-group">
	<%=form.label :start_date%>
	<%=form.text_field :start_date, class: "datepicker form-control", id: "datepicker1", required: true%>
	</div>

	<div class="form-group">
	<%=form.label :end_date%>
	<%=form.text_field :end_date, class: "datepicker form-control", id: "datepicker2", required: true%>

	<%= form.label :upload_images %><br>
  <%= form.file_field :images, multiple: true %>
	</div>

<%= javascript_tag do%>
$(document).ready(function(){

	id = $("#leafe_leave_type").val()

	if (id != "" && id != "Sick"){
	  $('#datepicker1').datepicker({
	    dateFormat: "yy-mm-dd",
	    minDate: new Date(),
	    onSelect: function(date){
	      $("#datepicker2").datepicker('option','minDate',date)
	    }
	  });

	  $('#datepicker2').datepicker({
	  	dateFormat: "yy-mm-dd",
	    minDate: new Date()
	  })
	}
	else if (id == "Sick"){
	  $('#datepicker1').datepicker({
	    dateFormat: "yy-mm-dd",
	    onSelect: function(date){
	      $("#datepicker2").datepicker('option','minDate',date)
	    }
	  });

	  $('#datepicker2').datepicker({
	  	dateFormat: "yy-mm-dd"
	  });
	}

	$("#leafe_leave_type").on('click',function(){
		$('.datepicker').datepicker('destroy');
		var id = this.value
		if (id != "" && id != "Sick"){
		  $('#datepicker1').datepicker({
		    dateFormat: "yy-mm-dd",
		    minDate: new Date(),
		    onSelect: function(date){
		      $("#datepicker2").datepicker('option','minDate',date)
		    }
		  });

		  $('#datepicker2').datepicker({
		  	dateFormat: "yy-mm-dd",
		    minDate: new Date()
		  })
		}
		else if (id == "Sick"){
		  $('#datepicker1').datepicker({
		    dateFormat: "yy-mm-dd",
		    onSelect: function(date){
		      $("#datepicker2").datepicker('option','minDate',date)
		    }
		  });

		  $('#datepicker2').datepicker({
		  	dateFormat: "yy-mm-dd"
		  });
		}
	})

	
})

<%end%>