<div class="col-lg-12">
<h1 class="page-header animated fadeIn">New Leave Request</h1>
</div>

<div class="row ">
<div id="calendar" class="col-sm-8 col-md-6 col-lg-7"></div>
<div class="col-sm-4 col-md-3 col-lg-5" style="text-align: left">
<%=form_for @leafe,class: "form-horizontal " do |form|%>
	
	<%=render partial: "form", object: form%>

	<%=form.hidden_field :user_id, :value => current_user.id %>

	<%=form.hidden_field :status, :value => "Pending" %>

	<%=form.submit "Submit", class: "btn btn-default"%>
<%end%>
</div>

</div>

