<div class="col-md-12 col-lg-12">
<h1 >Request's Details</h1>
</div>

<table class="table">
	<tbody class="table">
		<tr>
		<th class="thead-inverse">Name:</th>
		<td class="text-left"><%=@leafe.user.name%></td>

		</tr>
		<tr>
		<th class="thead-inverse">Manager: </th>
		<td class="text-left"><%=@leafe.user.manager.name if @leafe.user.manager != nil%> </td>

		</tr>
		<tr>
		<th class="thead-inverse">Reason: </th>
		<td class="text-left"><%=@leafe.leave_reason%></td>

		</tr>
		<tr>
		<th class="thead-inverse">Status: </th>
		<td class="text-left"><%=@leafe.status%>
		<%if @leafe.status == "Rejected"%>
			<p>Reason of Rejection: <%=@leafe.rejection_reason%></p>
		<%end%></td>

		</tr>
		<tr>
		<th class="thead-inverse">Start Date: </th>
		<td class="text-left"><%=@leafe.start_date%></td>

		</tr>
		<tr>
		<th class="thead-inverse">End Date: </th>
		<td class="text-left"><%=@leafe.end_date%></td>

		</tr>
		<tr>
		<th class="thead-inverse">Total Days: </th>
		<td class="text-left"><%=@leafe.total_days%></td>

		</tr>
	</tbody>
</table>
