<!DOCTYPE html>
<html>
<head>
<title>LINEUP</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if signed_in?%>
   <div class="collapse navbar-collapse" id="myNavbar" style="background-color: black; width:100%; margin: none;">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding:15px;">
       <li style="color:grey; padding:5px;"><%=current_user.email%></li>
       <li><%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "btn btn-warning" %></li>
      </ul>
  </div> <!--ul-li-->
   
<%end%>

<% if signed_in? -%>

<div class="row">
<%if hr?%>
  <%=render "layouts/hr_side_nav"%>
<%else%>
  <%=render "layouts/employee_side_nav"%>
<%end%>
<% end -%>
  


  <% if signed_in?%>
    <div class="wrapper">
        <% flash.each do |key, value| -%>
        <div class="alert alert-<%=key%> alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=h value %>
        </div>
        <% end %>
    <%= yield %>
    </div>
  <%else%>
    <%= yield %>
  <%end%>

  </div>
</body>
</html>
