<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if signed_in? -%>

<div class="row">
  <div id="header" >
  <div class="area"></div>
    <nav class="main-menu" style= "position:fixed">
       <ul>
           <li>
               <a href="/users/<%=current_user.id%>">
                   <i class="fa fa-user-circle fa-2x"></i>
                   <span class="nav-text">
                       Profile
                   </span>
               </a>
             
           </li>
           <li>
               <a href="#">
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       Inbox
                   </span>
               </a>
             
           </li>
           <li class="has-subnav">
               <a href="#">
                   <i class="fa fa-laptop fa-2x"></i>
                   <span class="nav-text">
                       Past Transactions
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="#">
                  <i class="fa fa-list fa-2x"></i>
                   <span class="nav-text">
                       History
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="#">
                  <i class="fa fa-folder-open fa-2x"></i>
                   <span class="nav-text">
                       Pages
                   </span>
               </a>
              
           </li>
           <li>
               <a href="#">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       Graphs and Statistics
                   </span>
               </a>
           </li>
           <li>
               <a href="#">
                   <i class="fa fa-font fa-2x"></i>
                   <span class="nav-text">
                       Typography and Icons
                   </span>
               </a>
           </li>
           <li>
              <a href="#">
                  <i class="fa fa-table fa-2x"></i>
                   <span class="nav-text">
                       Calender
                   </span>
               </a>
           </li>       
           <li>
               <a href="#">
                  <i class="fa fa-info fa-2x"></i>
                   <span class="nav-text">
                       Documentation
                   </span>
               </a>
           </li>
       </ul>
       <%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "btn btn-info" %>
   </nav>
  </div>

<% end -%>
  
    <% flash.each do |key, value| -%>
    <div class="alert alert-<%=key%> alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%=h value %>
    </div>
    <% end %>

  <% if signed_in?%>
    <div class="wrapper">
    <%= yield %>
    </div>
  <%else%>
    <%= yield %>
  <%end%>

  </div>
</body>
</html>
