<!DOCTYPE html>
<html>
<head>
<title>LineUP</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Muli|Yesteryear|Cabin|Quicksand|Pacifico" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type='text/javascript' src='fullcalendar/gcal.js'></script>
  <%= javascript_include_tag 'application' %>
  <meta name="turbolinks-cache-control" content="no-preview">
  <%= csrf_meta_tag %>
</head>
<body>
<% if signed_in?%>
   <div class="collapse navbar-collapse" id="myNavbar" style="background-color: rgba(255,255,255,0.5); width:100%;">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding:15px;">
      <li>
        <% if current_user.avatar? %>
           <%= image_tag current_user.avatar.url(:thumb), :class => "img-responsive img-circle" %>
        <%end%>
      </li>
       <li>
         <div class="dropdown">
           <button class="dropbtn"><%= link_to current_user.name, user_path(current_user.id)%></button>
           <div class="dropdown-content">

            <%= link_to "Settings", edit_user_path(current_user)%>
            <%=link_to "Change Password",'/passwords/change'%>

           </div>
         </div>
        </li>
       <li><%= button_to "SIGN OUT", sign_out_path, method: :delete, class: "btn btn-small btn-main" %></li>
      </ul>
  </div> <!--ul-li-->
   


<div class="row">
<%if hr?%>
  <%=render "layouts/hr_side_nav"%>
<%else%>
  <%=render "layouts/employee_side_nav"%>
<%end%>

    <div class="wrapper">
        <% flash.each do |key, value| -%>
        <div class="alert alert-<%=key%> alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=h value %>
        </div>
        <% end %>
    <%= yield %>
    </div>
  <%else%>

    <%= yield %>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="https://npmcdn.com/particlesjs@2.0.2/dist/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.0.2/particles.js"></script>
    <script>
        var options = {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#fff"
        },
        "shape": {
          "type": "star",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 5,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#000000",
          "opacity": 0.2,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 3,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": true,
            "mode": "grab"
          },
          "onclick": {
            "enable": true,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 150,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 30,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    };
    particlesJS("particle", options); 
  
    </script>

  <%end%>

  </div>
</body>
</html>
